<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EATIVE</title>
    <link rel="icon"
        href="https://static.wixstatic.com/media/1d595b_08578658b4e340a6869236035a2dc190~mv2.png/v1/fit/w_2500,h_1330,al_c/1d595b_08578658b4e340a6869236035a2dc190~mv2.png"
        type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />



    <style>
        .thumbnail img {
            width: 100%;
        }

        .thumbnail {
            padding: 0;
        }

        .thumbnail .caption-full {
            padding: 9px;
        }

        .delete-form {
            display: inline;
        }

        body {


            background-color: #f0f4f7;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">EATIVE</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/restaurants">HOME</a>
                    </li>
                    <li>
                        <a href="/https://www.linkedin.com/in/monika9/">ABOUT</a>
                    </li>
                    <li>
                        <a href="/owners/add">CONTACT US</a>
                    </li>
                    <li>
                        <a href="/maaliks">ADD RESTAURANT</a>
                    </li>
                    <li>
                        <a href="/admin">ADMIN</a>
                    </li>
                </ul>
                <div class="collapse navbar-collapse">
                    <ul class=" nav navbar-nav navbar-right">

                        <li><span style="color:antiquewhite; padding-top:15px; margin:15px;">Hello {{loggedInUser.name}}
                                !</span>
                        </li>
                        <li><a href="/logout">LOGOUT</a></li>
                    </ul>
                </div>
            </div>
    </nav>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome To ADMIN Dashboard</h1>

                <p>
                    <a class="btn btn-primary btn-large" href="/restaurants/add">Add New Restaurant</a>



                    <a class="btn btn-success btn-large" href="/owners">See Messages</a>
                </p>

            </div>
        </header>
        <div class="row text-center" style="display:flex;flex-wrap:wrap;">
            {{#each restaurants}}
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="{{image}}" />
                    <div class="caption">
                        <h4>{{name}}</h4>
                    </div>
                    <p>
                        <a href="/restaurants/{{_id}}" class="btn btn-primary">More Info</a>
                        <h3>
                            <a href="/restaurants/edit/{{_id}}" class="btn btn-success">Edit</a>

                        </h3>
                    </p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <p style="text-align: center;"> Trademark EATIVE 2019</p>

</body>

</html>