<div class="container">
    <p class="h1 text-center">{{data.restaurant}}</p>
  <div id="demo" class="carousel slide" data-ride="carousel">
     <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{data.imageurl}}" height="500px" width ="1120px">
    </div>
    </div>
  </div>
  <div class="container">
    <div class="bg-white">
      <div class="container">  </br>


  <p class="h5">Address : {{data.address}}</p>
  <p class="h5">State : {{data.state}}</p>
  <p class="h5">Website : {{data.reswebsite}}</p>
  <p class="h5">Email : {{data.resemail}}</p>
  <p class="h5">Description : </p>
  <p>{{data.description}}</p>
  </div>
  </div>
  </div>

</div>