<% include ../partials/header %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<!-- <p class="lead">EATIVE</p> -->
			<div class="list-group">
				<li class="list-group-item active"><a href="#"><span style="color:white">Menu</span></a></li>
				<li class="list-group-item ">Timings</li>
				<li class="list-group-item "><a href="#">Map Location</a></li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%=restaurant.image%>" />
				<div class="caption-full">
					<h4 class="pull-right">Rs.2200/Two Person</h4>
					<h4><a><%=restaurant.name%></a></h4>

					<p><%= restaurant.description%></p>
					<p>
							Current restaurant rating: <strong><%= restaurant.rating.toFixed(2) %></strong>
						</p>

					
					
				
				
				
				</div>
			</div>
			

            <div class="well">
				
				<div class="text-right">
					<a
						class="btn btn-success pull-right"
						role="button"
						href="/restaurants/<%= restaurant._id %>/reviews/new"
					>
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add  Review</a
					>
				</div>
                <h4>
					<strong
						>Reviews
						<span
							class="glyphicon glyphicon glyphicon-star"
							aria-hidden="true"
						></span
					></strong>
				</h4>	
			    <hr />
			    <div class="row" style="background-color:blanchedalmond;padding:9px;margin:10px;">
						<div class="col-md-12">
								<p><% restaurant.reviews.forEach(function(review){ %>
				<p><strong><%= review.author%></strong> <span style="color:orange; font-weight:bold; background-color:white ;padding:5px;">Rating: <%= review.rating %> stars</span></p> 
				<a class="btn btn-xs btn-warning"
                               href="/restaurants/<%= restaurant._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form class="delete-form" action="/restaurants/<%= restaurant._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
				
				<hr style="height: 1px;
					color: rgb(219, 147, 12);
					background-color: rgb(219, 147, 12);
					border: none;
				  "/>
				<% }) %>
				
			             </div>
		            </div>
			     </p>
		
		    </div>


			<div class="well">
				
				<div class="text-right">
					<a
						class="btn btn-success pull-right"
						role="button"
						href="/restaurants/<%= restaurant._id %>/comments/new"
					>
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add  Comment</a
					>
				</div>
                <h4>
					<strong
						>Comments
						<span
							class="glyphicon glyphicon glyphicon-comment"
							aria-hidden="true"
						></span
					></strong>
				</h4>	
			    <hr />
			    <div class="row" style="background-color:blanchedalmond;padding:9px;margin:10px;">
						<div class="col-md-12">
								<p><% restaurant.comments.forEach(function(comment){ %>
				<p><strong><%= comment.author %></strong> </p> <p><span style="color:green; font-weight:bold;">Comment:</span>  <%= comment.text %></p>
				<a class="btn btn-xs btn-warning"
                               href="/restaurants/<%= restaurant._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form class="delete-form" action="/restaurants/<%= restaurant._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
				
				<hr style="height: 1px;
					color: rgb(219, 147, 12);
					background-color: rgb(219, 147, 12);
					border: none;
				  "/>
				<% }) %>
				
			             </div>
		            </div>
			     </p>
		
		    </div>
	    </div>
	</div>
</div>

<% include ../partials/footer %>
